<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">

<dom-module id="sangha-payment-voucher">
  <template>
    <style>
      form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      paper-input[name="code"] {
        flex-grow: 1;
        margin-left: 1em;
      }
    </style>
    <slot name="header"></slot>
    <iron-form id="voucherForm">
      <form>
        <paper-dropdown-menu name="type" label="Voucher type" required>
          <paper-listbox slot="dropdown-content" selected="1" attr-for-selected="type">
            <template is="dom-repeat" items="[[ types ]]">
              <paper-item type$="[[ item ]]">[[ item ]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-input name="code" label="Code" floating-label required auto-validate></paper-input>
      </form>
    </iron-form>
    <paper-button class="primary" on-click="submit" hidden="[[ hideSubmit ]]">Submit</paper-button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaPaymentVoucher extends Polymer.Element {
      static get is() { return 'sangha-payment-voucher'; }

      static get properties() {
        return {
          // the choosable voucher types
          types: {
            type: Array,
          },
          // the entered voucher
          voucher: {
            type: Object,
            notify: true,
          },
          hideSubmit: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
        };
      }

      submit() {
        let form = this.$.voucherForm;
        if (form.validate()) {
          this.voucher = form.serializeForm();
        };
      }
    }

    customElements.define(SanghaPaymentVoucher.is, SanghaPaymentVoucher);
  </script>
</dom-module>
