<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../jsonapi-helpers/jsonapi-resource.html">

<dom-module id="sangha-cart-token">
  <template>
    <jsonapi-resource resource="codes" filters="[[ _codeParams ]]" response="{{ token }}" auto-get="[[ _codeParams ]]" single></jsonapi-resource>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaCartToken extends Polymer.Element {
      static get is() { return 'sangha-cart-token'; }

      static get properties() {
        return {
          cartItems: {
            type: Array,
          },
          userId: {
            type: String,
          },
          token: {
            type: String,
            notify: true,
          },
          _codeParams: {
            type: Object,
          },
        };
      }

      static get observers() {
        return [
          '__codeParams(cartItems, userId, cartItems.*)',
        ];
      }

      __codeParams(cartItems, userId) {
        // bail if cart is empty
        if (cartItems.length == 0) { return; }

        let total = cartItems.reduce((sum, item) => {
          return sum + item.amount;
        }, 0);

        // bail if total is 0
        if (total == 0) { return; }

        let items = this._calculateItemPercentages(cartItems, total);
        let newParams = {
          'budget_ids': [],
          'ratios': [],
        };

        // sort items by project budget root for better comparability
        items.sort((a, b) => {
          if (a.project.budget_root == b.project.budget_root) {
            return 0;
          } else {
            return (a.project.budget_root < b.project.budget_root) ? -1 : 1;
          }
        });


        // extract params
        items.forEach( function(item) {
          newParams['budget_ids'].push(item.project.budget_root);
          newParams['ratios'].push(item.percentage);
        }, this);

        if( userId ) {
          newParams.user_id = userId;
        }

        // exit if nothing changed
        if(this._codeParams &&
          this._arrayEqual(this._codeParams.budget_ids, newParams.budget_ids) &&
          this._arrayEqual(this._codeParams.ratios, newParams.ratios) &&
          this._codeParams.user_id == newParams.user_id) {
          return;
        }

        this._codeParams =  newParams;
      }

      _calculateItemPercentages(items_input, total) {
        let items = [];

        // calculate percentage and the decimal places
        items_input.forEach( (item) => {
          let tmp = item;
          tmp.percentage_full = this._toPercent(item.amount, total);
          tmp.percentage_rest = tmp.percentage_full % 1;
          tmp.percentage = Math.floor(tmp.percentage_full);
          items.push(tmp);
        });

        let percentage_total = items.reduce(function(sum, item) {
          return sum + item.percentage;
        }, 0);

        if (percentage_total < 100) {
          // sort by percentage so the smallest is first
          items.sort( (a, b) => {
            return  a.percentage - b.percentage;
          });

          // sort by percentage decimal places so the "biggest looser" is first
          items.sort( (a, b) => {
            return b.percentage_rest - a.percentage_rest;
          });

          // add 1 percent point to the biggest looser until none are left
          let percentage_leftover = 100 - percentage_total;
          items.some( (item) => {
            item.percentage++;
            percentage_leftover--;

            return percentage_leftover == 0;
          });
        }

        return items;
      }

      _toPercent(amount, total) {
        return amount/total*100;
      }

      _arrayEqual(a, b) {
        return a.length == a.length && a.every((v,i)=> v === b[i])
      }
    }

    customElements.define(SanghaCartToken.is, SanghaCartToken);
  </script>
</dom-module>
