<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="cents/sangha-cents-mixin.html">

<dom-module id="sangha-payment-address">
  <template>
    <style>
      table {
        margin: auto;
        margin-top: 1em;
      }
      td {
        padding: 0.3em 2em 0.3em 0;
      }
    </style>
    <slot name="header"></slot>
    <table>
      <tr>
        <td>Address</td>
        <td> [[ address.name ]] </td>
      </tr>
      <tr>
        <td></td>
        <td> [[ address.street ]] </td>
      </tr>
      <tr>
        <td></td>
        <td> [[ address.zip ]] [[ address.city ]] </td>
      </tr>
      <tr>
        <td></td>
        <td> [[ address.country ]] </td>
      </tr>
      <tr>
        <td> Amount </td>
        <td> [[ centsToDisplay(amount) ]][[ currency ]] </td>
      </tr>
      <tr>
        <td> Reference (add a note) </td>
        <td> [[ reference ]] </td>
      </tr>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin SanghaCentsMixin
     * @extends {Polymer.Element}
     */
    class SanghaPaymentAddress extends SanghaCentsMixin(Polymer.Element) {
      static get is() { return 'sangha-payment-address'; }

      static get properties() {
        return {
          address: {
            type: Object,
          },
          // amount in cents
          amount: {
            type: String,
          },
          reference: {
            type: String,
          },
          currency: {
            type: String,
          },
        };
      }
    }

    customElements.define(SanghaPaymentAddress.is, SanghaPaymentAddress);
  </script>
</dom-module>
