<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../country-select/country-select.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-resource.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">

<dom-module id="sangha-material-checkout-user">
  <template>
    <style>
      :host {
        display: block;
      }

      .horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      paper-input, paper-textarea, country-select {
        flex-grow: 1;
        margin-right: 1em;
      }
      .input-half {
        min-width: 10em;
      }
      .input-third {
        min-width: 5em;
      }
      country-select {
        --paper-dropdown-menu: {
          width: 100%;
        };
      }
    </style>

    <jsonapi-resource id="resource" resource="users" response="{{ user }}"></jsonapi-resource>

    <iron-form id="userForm">
      <form>
        <paper-input type="email" name="email" label="E-Mail (to send the receipt to)" floating-label required auto-validate></paper-input>
        <div class="horizontal">
          <paper-input class="input-half" name="first_name" label="First name" floating-label required auto-validate></paper-input>
          <paper-input class="input-half" name="last_name" label="Last name" floating-label required auto-validate></paper-input>
        </div>
        <paper-textarea name="address" label="Address" floating-label required auto-validate rows="3"></paper-textarea>
        <div class="horizontal">
          <paper-input class="input-third" name="zip" label="Zip code" floating-label required auto-validate></paper-input>
          <paper-input class="input-third" name="city" label="City" floating-label required auto-validate></paper-input>
          <input type="hidden" name="country" value="[[ countrycode ]]"></input>
          <country-select class="input-third" selected-country="{{ countrycode }}" required></country-select>
        </div>
      </form>
    </iron-form>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaMaterialCheckoutUser extends Polymer.Element {
      static get is() { return 'sangha-material-checkout-user'; }

      static get properties() {
        return {
          user: {
            type: Object,
            notify: true,
          },
        };
      }

      submit() {
        let form = this.$.userForm;
        let resource = this.$.resource;

        if( form.validate() ) {
          resource.data = form.serializeForm();
          resource.data.address = resource.data.address.split("\n");
          resource.save();
        }
      }

      validate() {
        return this.$.userForm.validate();
      }

    }

    customElements.define(SanghaMaterialCheckoutUser.is, SanghaMaterialCheckoutUser);
  </script>
</dom-module>
