<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../paper-button/paper-button.html">

<link rel="import" href="cents/sangha-cents-input.html">
<link rel="import" href="cents/sangha-cents-buttons.html">

<dom-module id="sangha-material-cart">
  <template>
    <style>
      :host {
        display: block;
      }

      .cart-item {
        min-height: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #CCC 1px solid;
      }
      .cart-item:last-of-type {
        border-bottom: transparent;
      }
      .project {
        flex-grow: 1;
      }

      .icon-button {
        width: 2em;
        min-width: 2em;
        height: 2em;
        padding: 0;
        margin: 0 0.5em;
      }
    </style>

    <div hidden$="{{ !empty }}">
      Cart empty
    </div>

    <div class="items" hidden$="{{ empty }}">
      <template is="dom-repeat" items="{{ items }}">
        <div class="cart-item">
          <span class="project">[[ item.project.name ]]</span>

          <sangha-cents-buttons hidden$="[[ !amountButtons ]]" value="{{ item.amount }}" currency="[[ currency ]]" buttons="[[ amountButtons ]]"></sangha-cents-buttons>
          <sangha-cents-input hidden$="[[ amountButtons ]]" value="{{ item.amount }}" currency="[[ currency ]]"></sangha-cents-input>
          <paper-button class="icon-button" on-click="_onItemRemove" hidden$="[[ !editable ]]">
            <svg viewBox="0 0 24 24" style="display: block; width: 100%; height: 100%;">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
            </svg>
          </paper-button>
        </div>
      </template>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaMaterialCart extends Polymer.Element {
      static get is() { return 'sangha-material-cart'; }

      static get properties() {
        return {
          items: {
            type: Array,
            notify: true,
            value: () => {
              return [];
            },
          },
          editable: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
          currency: {
            type: String,
          },
          defaultAmount: {
            type: Number,
            value: 500,
          },
          amountButtons: {
            type: Array,
          },
          empty: {
            type: Boolean,
            computed: '_itemsEmpty(items.splices)',
            readOnly: true,
            reflectToAttribute: true,
            notify: true,
          },
          total: {
            type: Number,
            computed: '_itemsTotal(items.*)',
            readOnly: true,
            notify: true,
          },
          bubbles: {
            type: Boolean,
            default: false,
            reflectToAttribute: true,
          },
          _handler: {
            type: Object,
          }
        };
      }

      connectedCallback() {
        this._handler =  this._onItemAdd.bind(this);
        if ( this.editable ) {
          document.body.addEventListener('sangha-cart-add-project', this._handler);
        }
      }

      disconnectedCallback() {
        document.body.removeEventListener('sangha-cart-add-project', this._handler);
      }

      /**
       * @event sangha-cart-add-project to add item to cart
       */
      _onItemAdd(event) {
        if( this._itemExists(event.detail.project) ) {
          this.dispatchEvent(new CustomEvent('sangha-cart-changed', {
            detail: {
              type: 'item-duplicate',
              message: 'Project already in cart!',
            },
            bubbles: this.bubbles,
            composed: true,
          }));
        } else {
          this.dispatchEvent(new CustomEvent('sangha-cart-changed', {
            detail: {
              type: 'item-added',
              message: 'Project added to cart!',
            },
            bubbles: this.bubbles,
            composed: true,
          }));
          this.push("items", {
            project: event.detail.project,
            amount: event.detail.amount || this.defaultAmount,
          });
        }
      }

      _onItemRemove(event) {
        this.splice("items", event.model.index, 1);
      }

      _itemsEmpty(itemchanges) {
        return (this.items.length == 0);
      }

      _itemsTotal(itemchanges) {
        return this.items.reduce((sum, item) => {
          return sum + item.amount;
        }, 0);
      }

      _itemExists(project) {
        return this.items.find(function(element) {
          return element.project.id === this.id;
        }, project)
      }
    }

    customElements.define(SanghaMaterialCart.is, SanghaMaterialCart);
  </script>
</dom-module>
