<!--
# Standalone usage:
    <sangha-material-checkout cart-items='[{ "project": { "name": "my awesome project", "id": 0 } "amount": 500 }]' standalone>
      Fallback content to display when js is disabled.
    </sangha-material-checkout>
-->


<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-toast/paper-toast.html">

<link rel="import" href="sangha-material-cart.html">
<link rel="import" href="sangha-cart-token.html">
<link rel="import" href="sangha-payment-gateways.html">
<link rel="import" href="sangha-payment-transfer-sepa.html">
<link rel="import" href="sangha-payment-address.html">
<link rel="import" href="sangha-material-checkout-user.html">
<link rel="import" href="cents/sangha-cents-mixin.html">

<dom-module id="sangha-material-checkout">
  <template>
    <style>
      :host {
        display: block;
      }

      .step-content {
        margin-bottom: 1.5em;
      }

      .content-centered {
        display: flex;
        justify-content: center;
        padding: 1em;
      }

      .cart-error {
        color: var(--error-color);
        @apply --paper-font-caption;
        margin-left: 1em;
      }

      paper-button.primary {
        --paper-button: {
          background-color: var(--primary-color);
          color: var(--primary-background-color);
        }
      }

      paper-checkbox {
        margin: 0.2em 0;
      }

      paypal-button {
        text-align: center;
      }

      h2, h3, h4 {
        text-align: center;
      }
    </style>

    <paper-toast id="toast"></paper-toast>

    <iron-pages
      selected="{{ _step }}"
      attr-for-selected="step">

      <div step="cart" class="step-content">
        <slot name="header"><h2>Donate</h2></slot>
        <sangha-material-cart
          id="cart"
          items="{{ cartItems }}"
          editable="{{ !standalone }}"
          empty="{{ _cartEmpty }}"
          total="{{ _cartTotal }}"
          currency="[[ currency ]]"
          amount-buttons="[[ donationButtons ]]"
        ></sangha-material-cart>
        <div class="step-content">
          <slot name="after-cart"></slot>
        </div>

        <div class="step-content">
          <paper-checkbox checked="{{ _donationReceipt }}">I want a donation receipt (requires personal information)</paper-checkbox>
          <template is="dom-if" if="[[ _donationReceipt ]]">
            <paper-checkbox checked="{{ _donationPublic }}" disabled="{{ !_donationReceipt }}">I'm proud to be listed as a contributor (name & avatar only)</paper-checkbox>
            <sangha-material-checkout-user on-user-changed="_userRegistered" user="{{ _donationUser }}"></sangha-material-checkout-user>
          </template>
        </div>
        <paper-button class="primary" on-tap="_submitUserForm" disabled$="[[ !_cartValid ]]">Next</paper-button>
        <span class="cart-error">[[ _cartError ]]</span>
      </div>

      <div step="payment">
        <h3>Select a payment option</h3>
        <sangha-cart-token
          cart-items="[[ cartItems ]]"
          user-id="[[ _donationUser.id ]]"
          token="{{ _donationReference }}"
        ></sangha-cart-token>
        <sangha-payment-gateways
          gateways="[[ gateways ]]"
          amount="[[ _cartTotal ]]"
          reference="[[ _donationReference.code ]]"
          item-name="[[ _donationReferenceHuman ]]"
          user-id="[[ _donationUser.id ]]"
          public="[[ _donationPublic ]]"
          on-sangha-payment-success="_paymentSuccess"
          on-sangha-payment-error="_paymentError"
          response="{{ _paymentResponse }}"
        ></sangha-payment-gateways>
        <paper-button on-tap="_toCart" class="content-centered">back</paper-button>
      </div>

      <div step="payment-success">
        <h3>Thank you for your donation!</h3>
        <p>In case you registered with an email-address we will send you a confirmation mail.</p>

        <iron-pages selected="[[ _paymentResponse.source ]]" attr-for-selected="gateway">
          <sangha-payment-transfer-sepa
            gateway="bank_transfer"
            bank="[[ gateways.bank_transfer_sepa ]]"
            reference="[[ _donationReferenceHuman ]]"
            amount="[[ _paymentResponse.amount ]]"
            currency="[[ currency ]]">
            <h4 slot="header">Please transfer to</h4>
          </sangha-payment-transfer-sepa>
          <sangha-payment-address
            gateway="cash"
            address="[[ gateways.cash.address ]]"
            reference="[[ _donationReferenceHuman ]]"
            amount="[[ _paymentResponse.amount ]]"
            currency="[[ currency ]]">
            <div slot="header">[[ gateways.cash.text ]]</div>
          </sangha-payment-address>
        </iron-pages>
        <paper-button on-tap="clearCart" class="content-centered">back</paper-button>
      </div>

      <div step="payment-error">
        <h3>Sorry</h3>
        There was an error processing your payment ([[ _paymentErrorDetail ]]).
        <paper-button on-tap="_toCart" class="content-centered">back</paper-button>
      </div>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin SanghaCentsMixin
     * @extends {Polymer.Element}
     */
    class SanghaMaterialCheckout extends SanghaCentsMixin(Polymer.Element) {
      static get is() { return 'sangha-material-checkout'; }

      static get properties() {
        return {
          cartItems: {
            type: Array,
          },
          gateways: {
            type: Object,
          },
          standalone: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
          currency: {
            type: String,
            value: "€",
          },
          donationMinimum: {
            type: Number,
            value: 500,
          },
          donationButtons: {
            type: Array,
          },
          _donationReceipt: {
            type: Boolean,
            value: false,
          },
          _donationPublic: {
            type: Boolean,
            value: false,
          },
          _donationUser: {
            type: Object,
          },
          _donationReference: {
            type: Object,
          },
          _donationReferenceHuman: {
            type: String,
            computed: "__donationReferenceHuman(_donationReference.code, cartItems, cartItems.*)",
          },
          _step: {
            type: String,
            value: "cart",
          },
          _cartEmpty: {
            type: Boolean,
          },
          _cartValid: {
            type: Boolean,
            value: false,
            computed: '__cartValid(_cartEmpty, _cartTotal)',
          },
          _cartError: {
            type: String,
          },
          _paymentErrorDetail: {
            type: String,
          },
          codeParams: {
            type: Object,
          },
          bubbles: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
        };
      }

      static get observers() {
        return [
          "_toCart(cartItems.*)",
        ]
      }

      _toCart(event) {
        // dont reset for emptying an empty cart (demo mode)
        if (event.base
          && event.value
          && event.base.length == 0
          && event.value.length == 0) { return; };

        if (event.detail && event.detail.message) {
          this._showMessage(event.detail.message);
        }
        this._step = 'cart';
      }

      clearCart() {
        this.cartItems = [];
        this._step = 'cart';
      }

      _showMessage(message) {
        this.$.toast.fitInto = this.standalone ? this : window;
        this.$.toast.show(message);
      }

      _submitUserForm() {
        let userForm = this.shadowRoot.querySelector('sangha-material-checkout-user');

        if( !this._donationReceipt ) {
          this._step = "payment";
        } else {
          userForm.submit();
        }
      }

      _userRegistered(event) {
        if( event.detail.value ) {
          this._step = "payment";
        }
      }

      __cartValid(empty, total) {
        if (empty) {
          this.__cartError('Cart empty!');
          return false;
        }
        if (total < this.donationMinimum) {
          this.__cartError(`The minimum donation amount is ${this.centsToDisplay(this.donationMinimum)}${this.currency}`);
          return false;
        }

        this._cartError = '';
        return true;
      }

      __cartError(message) {
        this._cartError = message;
        if (this._step == 'payment') {
          this.step = 'cart';
        }
      }

      __donationReferenceHuman(reference = "", items) {
        switch (items.length) {
          case 0:
            return reference;
            break;
          case 1:
            return `${reference} ${items[0].project.name}`;
            break;
          case 2:
            return `${reference} ${items[0].project.name}, ${items[1].project.name}`;
            break;
          default:
            return `${reference} ${items[0].project.name}, ${items.length - 1} more`;
        };
      }

      _paymentSuccess(event) {
        this._step = "payment-success";

        /**
         * @event sangha-checkout-success Fired on succesful payment.
         */
        this.dispatchEvent(new CustomEvent('sangha-checkout-success', {
          bubbles: this.bubbles,
          composed: true,
        }));
      }

      _paymentError(event) {
        this._paymentErrorDetail = event.detail.errors[0].detail;
        this._step = "payment-error";
      }
    }

    customElements.define(SanghaMaterialCheckout.is, SanghaMaterialCheckout);
  </script>
</dom-module>
