<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="cents/sangha-cents-mixin.html">

<dom-module id="sangha-payment-transfer-sepa">
  <template>
    <style>
      table {
        margin: auto;
      }
      td {
        padding: 0.3em 2em 0.3em 0;
      }
    </style>
    <slot name="header"></slot>
    <table>
      <tr>
        <td></td>
        <td> [[ bank.account_owner]] </td>
      </tr>
      <tr>
        <td> Bank </td>
        <td> [[ bank.name ]] </td>
      </tr>
      <tr>
        <td> IBAN </td>
        <td> [[ bank.iban ]] </td>
      </tr>
      <tr>
        <td> BIC </td>
        <td> [[ bank.bic ]] </td>
      </tr>
      <tr>
        <td> Amount </td>
        <td> [[ centsToDisplay(amount) ]][[ currency ]] </td>
      </tr>
      <tr>
        <td> Reference </td>
        <td> [[ reference ]] </td>
      </tr>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin SanghaCentsMixin
     * @extends {Polymer.Element}
     */
    class SanghaPaymentTransferSepa extends SanghaCentsMixin(Polymer.Element) {
      static get is() { return 'sangha-payment-transfer-sepa'; }

      static get properties() {
        return {
          bank: {
            type: Object,
          },
          // amount in cents
          amount: {
            type: String,
          },
          reference: {
            type: String,
          },
          currency: {
            type: String,
          },
        };
      }
    }

    customElements.define(SanghaPaymentTransferSepa.is, SanghaPaymentTransferSepa);
  </script>
</dom-module>
