<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">

<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-resource.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../stripe-elements/stripe-card.html">
<link rel="import" href="../bitpay-elements/bitpay-invoice-create.html">
<link rel="import" href="../bitpay-elements/bitpay-invoice-frame.html">
<link rel="import" href="../paypal-express-checkout/paypal-button-express.html">

<link rel="import" href="cents/sangha-cents-mixin.html">
<link rel="import" href="sangha-material-cart.html">
<link rel="import" href="sangha-payment-transfer-sepa.html">
<link rel="import" href="sangha-payment-voucher.html">
<link rel="import" href="sangha-payment-address.html">

<dom-module id="sangha-payment-gateways">
  <template>
    <style>
      :host {
        display: block;
      }
      paypal-button {
        text-align: center;
      }
      .content-centered {
        text-align: center;
      }

      paper-tabs {
        height: 8em;
      }

      paper-tab {
        --paper-tab-content: {
          display: flex;
          flex-direction: column;
        }
      }

      .svg-wrapper {
        display: flex;
        height: 4em;
      }

      paper-tabs svg {
        display: block;
        width: 100%;
      }

      @keyframes rotating {
        from { transform: rotate(0); }
        to { transform: rotate(360deg); }
      }
      .spinner {
        width: 4em;
        color: var(--primary-color, gray);
        animation: 1.5s rotating linear infinite;
      }

      paper-button.primary {
        --paper-button: {
          background-color: var(--primary-color);
          color: var(--primary-background-color);
        }
      }
    </style>

    <jsonapi-resource id="payments"
      resource="payments"
      on-jsonapi-response="_paymentSuccess"
      on-jsonapi-error="_paymentError"
      response="{{ response }}"
      active="{{ _paymentsActive }}"
    ></jsonapi-resource>

    <paper-tabs selected="{{ _gatewaySelected }}" attr-for-selected="gateway">
      <template is="dom-if" if="[[ gateways.bank_transfer_sepa ]]">
        <paper-tab gateway="bank_transfer">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M8.65 9.56v.25h4.52v-.25H8.65zm0 .85v.25h3.82v-.25H8.65zm0 .84v.25h3.38v-.25H8.65zm-5.87 2.13v.24h12.03v-.24H2.78zm9.63-.5s-.42-.19.98-2.38c1.39-2.2 3.97-6.41 4.82-5.86.85.56.14 1.38 0 1.55l.48.34s.4.2.13.58c-.26.38-1.1 1.53-1.1 1.53s-.18.13-.34.01c-.17-.12-.07-.34.05-.53.11-.2.8-1.11.8-1.11s.09-.07-.08-.21c-.17-.15-.13-.13-.32.11-.18.25-1.62 2.19-2.3 3.06-.7.88-2.65 3.24-3.12 2.92zM1.37 7.37v7.18h14.48v-4.48h-.25v4.23H1.62V7.61h13.36v-.25H1.37z" color="currentColor" />
            </svg>
          </div>
          <div>Bank transfer</div>
        </paper-tab>
      </template>
      <template is="dom-if" if="[[ gateways.stripe ]]">
        <paper-tab gateway="stripe">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10.73 11.25l-4.84 1.7.08.24 4.84-1.7-.08-.24zm-2-.22l-3.13 1.1.09.24 3.12-1.1-.08-.24zM14 3.97c-.14 0-.3.01-.44.06L4.01 7.38c-.59.2-.9.85-.7 1.44l1.96 5.58c.2.58.85.9 1.44.7l9.55-3.36c.59-.2.9-.85.7-1.43L15 4.72a1.13 1.13 0 0 0-1-.75zm-.01.25c.34.02.65.24.77.58l.54 1.54 1.42 4.05a.88.88 0 0 1-.54 1.12l-9.55 3.35a.88.88 0 0 1-1.12-.54l-1.42-4.05 11.2-3.93-.47-1.36-11.2 3.93-.07-.18a.88.88 0 0 1 .54-1.11l9.55-3.35a.87.87 0 0 1 .35-.05z" color="currentColor"/>
            </svg>
          </div>
          <div>Stripe</div>
        </paper-tab>
      </template>
      <template is="dom-if" if="[[ gateways.bitpay ]]">
        <paper-tab gateway="bitpay">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M12.693 8.833c.101-.681-.417-1.047-1.126-1.291l.23-.921-.562-.14-.223.897c-.147-.037-.299-.071-.449-.107l.225-.902-.561-.14-.229.922a10.483 10.483 0 0 1-.358-.085l.001-.003-.774-.192-.149.599s.416.095.408.101c.225.057.268.208.261.328l-.262 1.048c.016.004.036.01.059.02l-.06-.016-.367 1.471c-.028.069-.099.173-.257.133a9.04 9.04 0 0 1-.409-.102l-.277.643.729.182c.138.033.27.069.401.104l-.232.934.562.14.229-.923c.152.04.302.078.448.114l-.23.918.562.14.231-.93c.955.182 1.677.107 1.979-.757.244-.696-.012-1.098-.516-1.361.366-.085.643-.325.716-.824zm-1.283 1.798c-.173.696-1.347.32-1.728.225l.311-1.235c.378.095 1.599.283 1.417 1.01zm.174-1.807c-.158.633-1.136.31-1.452.231l.28-1.12c.317.081 1.337.226 1.172.889zM9.627 4.387a5.244 5.244 0 0 0-4.272 3.908 5.243 5.243 0 0 0 3.815 6.35 5.238 5.238 0 1 0 .457-10.258zm.039.246c.64-.1 1.31-.077 1.979.09a4.985 4.985 0 0 1 3.63 6.047 4.987 4.987 0 1 1-9.677-2.415 4.992 4.992 0 0 1 4.068-3.722z" color="currentColor"/>
            </svg>
          </div>
          <div>Bitpay</div>
        </paper-tab>
      </template>
      <template is="dom-if" if="[[ gateways.paypal ]]">
        <paper-tab gateway="paypal">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M7.36 3.92c-.33 0-.6.23-.65.55l-1.54 9.78c-.05.27.16.51.43.51h2.14l-.13.86a.4.4 0 0 0 .4.46h1.92c.3 0 .54-.21.58-.5l.02-.1.37-2.3.02-.12a.33.33 0 0 1 .33-.29h.3c.94 0 1.8-.2 2.48-.68a3.62 3.62 0 0 0 1.39-2.37c.18-.94.1-1.75-.41-2.33-.14-.15-.3-.28-.5-.39.13-.9-.03-1.56-.53-2.14-.6-.67-1.63-.94-2.92-.94h-3.7zm0 .25h3.7c1.26 0 2.21.27 2.73.86.48.54.61 1.12.47 2.02l-.04.21a3.85 3.85 0 0 1-1.48 2.55c-.71.51-1.64.73-2.69.73H8.97c-.32 0-.6.23-.65.55l-.02.14-.02.12-.5 3.16H5.6c-.12 0-.2-.1-.19-.22L6.96 4.5a.4.4 0 0 1 .4-.34z" color="currentColor"/>
            </svg>
          </div>
          <div>Paypal</div>
        </paper-tab>
      </template>
      <template is="dom-if" if="[[ gateways.cash ]]">
        <paper-tab gateway="cash">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.65 3.16l-6.2 4.67v8.1h12.38v-8.1l-2.79-2.1v-.99l-1 .22-2.4-1.8zm0 .3l2.06 1.57-5.77 1.24 3.7-2.8zm3.14 1.6v1.27H6.87l5.92-1.28zm.25.98l.39.29h-.39v-.3zm.6.44l1.84 1.4-1.85.97V6.48zm-8.08.08v2.31l-1.75-1 1.75-1.31zm.25.02h7.57v2.4h.02l-2.68 1.41H8.24l-2.5-1.41h.07v-2.4zm9.77 1.52v7.4l-4.63-4.95 4.63-2.45zm-11.87 0L8 10.56l-4.3 4.93V8.1zm4.56 2.54h2.43l4.72 5.05H3.86l4.4-5.05zm2.01-.94a1.2 1.2 0 0 1-.61.16 1.13 1.13 0 0 1-1.15-1h-.26V8.6h.22v-.06l.01-.15h-.23v-.24h.27c.04-.25.15-.46.3-.6.21-.25.5-.38.86-.38.24 0 .44.06.57.12l-.1.37a.98.98 0 0 0-.45-.1c-.2 0-.37.06-.5.21a.76.76 0 0 0-.18.37h1.05v.25h-1.1v.22h1.1v.24H9.02c.03.18.09.3.17.4a.7.7 0 0 0 .54.21c.2 0 .38-.07.47-.12l.08.36z" color="currentColor"/>
            </svg>
          </div>
          <div>Cash</div>
        </paper-tab>
      </template>
      <template is="dom-if" if="[[ gateways.voucher ]]">
        <paper-tab gateway="voucher">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M14.01 3.97a.96.96 0 0 0-.44.06L4.03 7.4c-.59.2-.9.85-.7 1.43l1.97 5.58c.21.58.86.9 1.44.69l9.55-3.37c.58-.2.9-.85.69-1.44L15 4.71a1.13 1.13 0 0 0-1-.74zM14 4.2a.9.9 0 0 1 .77.59l.3.85 1.67 4.73a.88.88 0 0 1-.53 1.11l-8 2.82-1.72-4.87 8.82-3.11-.24-.68-8.82 3.12-.6-1.68 8-2.83A.87.87 0 0 1 14 4.2zM4.98 7.33L5.57 9l-1.7.6-.3-.85a.87.87 0 0 1 .54-1.12l.87-.3zm.83 2.35l1.72 4.87-.87.3a.88.88 0 0 1-1.12-.52l-1.42-4.05 1.69-.6zm10.14.93c-.1.12-.28.27-.52.35A1.13 1.13 0 0 1 14 10.4l-.24.08-.08-.23.21-.07-.02-.06-.04-.14-.22.07-.08-.23.25-.09c-.03-.25 0-.48.08-.67.13-.3.36-.52.7-.64.22-.08.43-.09.57-.07l.03.38a.99.99 0 0 0-.46.05.66.66 0 0 0-.4.37.78.78 0 0 0-.04.41l.98-.35.09.24-1.04.36.04.14.03.06 1.04-.37.08.23-1 .36c.08.15.18.25.29.3.18.1.38.1.58.03a1 1 0 0 0 .4-.27l.2.32z" color="currentColor"/>
            </svg>
          </div>
          <div>Voucher Code</div>
        </paper-tab>
      </template>
    </paper-tabs>

    <iron-pages selected="{{ _gatewaySelected }}" attr-for-selected="gateway">
      <div gateway="bank_transfer">
        <sangha-payment-transfer-sepa
          bank="[[ gateways.bank_transfer_sepa ]]"
          reference="[[ itemName ]]"
          amount="[[ amount ]]"
          currency="[[ currency ]]">
          <h4 slot="header" class="content-centered">Details for SEPA transaction</h4>
        </sangha-payment-transfer-sepa>
        <div class="content-centered" style="margin-top: 1em">
          <paper-button class="primary" on-click="_paymentTransferEU">Go to summary</paper-button>
        </div>
      </div>
      <div gateway="stripe">
        <stripe-card
          id="stripe"
          hide-submit
          publishable-key="[[ gateways.stripe.pubkey ]]"
          on-token-changed="_paymentStripe"
          mask-card
        ></stripe-card>
        <div class="content-centered">
          <paper-button class="primary" on-click="_submitStripe">Submit</paper-button>
        </div>
      </div>
      <div class="content-centered" gateway="bitpay">
        <bitpay-invoice-create
          auto
          amount="[[ centsToDisplay(amount) ]]"
          testnet="[[ gateways.bitpay.sandbox ]]"
          token="[[ gateways.bitpay.token ]]"
          donation="[[ gateways.bitpay.donation ]]"
          reference="[[ reference ]]"
          invoice="{{ invoice }}"
        ></bitpay-invoice-create>
        <bitpay-invoice-frame
          invoice="{{ invoice }}"
          on-bitpay-invoice-paid="_paymentBitpay"
        ></bitpay-invoice-frame>
      </div>
      <div class="content-centered" gateway="paypal">
        <paypal-button-express
          on-paypal-success="_paymentPaypal"
          production-id="[[ gateways.paypal.productionId ]]"
          sandbox-id="[[ gateways.paypal.sandboxId ]]"
          sandbox="[[ gateways.paypal.sandbox ]]"
          item-name="Donation [[ itemName ]]"
          reference="[[ reference ]]"
          amount="[[ centsToDisplay(amount) ]]">
          <paper-button class="primary">Go to Paypal page</paper-button>
        </paypal-button-express>
      </div>
      <div gateway="cash">
        <sangha-payment-address
          address="[[ gateways.cash.address ]]"
          reference="Donation [[ itemName ]]"
          amount="[[ amount ]]"
          currency="[[ currency ]]">
          <div slot="header">[[ gateways.cash.text ]]</div>
        </sangha-payment-address>
        <div class="content-centered" style="margin-top: 1em">
          <paper-button class="primary" on-click="_paymentCash">Go to summary</paper-button>
        </div>
      </div>
      <div gateway="voucher">
        <sangha-payment-voucher
          id="voucher"
          hide-submit
          types="[[ gateways.voucher.types ]]"
          on-voucher-changed="_paymentVoucher">
        </sangha-payment-voucher>
        <div class="content-centered" style="margin-top: 1em">
          <paper-button class="primary" on-click="_submitVoucher">Submit</paper-button>
        </div>
      </div>
    </iron-pages>
    <template is="dom-if" if="[[ _paymentsActive ]]">
      <div class="content-centered">
        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path opacity=".2" fill="currentColor" d="M20.2 5.17c-8.25 0-14.94 6.7-14.94 14.95s6.7 14.94 14.94 14.94 14.95-6.7 14.95-14.95c0-8.2-6.7-14.9-14.95-14.9zm0 26.58c-6.42 0-11.63-5.2-11.63-11.64 0-6.4 5.2-11.6 11.63-11.6 6.43 0 11.63 5.2 11.63 11.65S26.63 31.8 20.2 31.8z"/>
          <path fill="currentColor" d="M26 10.05l1.67-2.87c-2.2-1.27-4.75-2-7.47-2v3.3c2.12 0 4.1.58 5.8 1.57z"/>
        </svg>
      </div>
    </template>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin SanghaCentsMixin
     * @extends {Polymer.Element}
     */
    class SanghaPaymentGateways extends SanghaCentsMixin(Polymer.Element) {
      static get is() { return 'sangha-payment-gateways'; }

      static get properties() {
        return {
          gateways: {
            type: Object,
          },
          itemName: {
            type: String,
          },
          reference: {
            type: String,
          },
          // the amount in cents
          amount: {
            type: Number,
          },
          userId: {
            type: String,
          },
          public: {
            type: Boolean,
            value: false,
          },
          currency: {
            type: String,
            value: "€",
          },
          response: {
            type: Object,
            notify: true,
          },
          bubbles: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          }
        };
      }

      _submitVoucher() {
        this.$.voucher.submit();
      }

      _submitStripe() {
        this.$.stripe._submit();
      }

      _paymentTransferEU(event) {
        this._paymentTrigger("bank_transfer");
      }

      _paymentBitpay(event) {
        this._paymentTrigger("bitpay", {
          source_id: event.detail.id,
        });
      }

      _paymentPaypal(event) {
        this._paymentTrigger("paypal", {
          source_id: event.detail.paymentID,
        });
      }

      _paymentStripe(event) {
        this._paymentTrigger("stripe", {
          source_id: event.detail.value.id,
        });
      }

      _paymentCash(event) {
        this._paymentTrigger("cash");
      }

      _paymentVoucher(event) {
        this._paymentTrigger("voucher", {
          voucher_type: event.detail.value.type,
          voucher_code: event.detail.value.code,
        });
      }

      _paymentTrigger(type, data = {}) {
        this.$.payments.data = Object.assign(data, {
          source: type,
          amount: this.amount,
          transaction_code: this.reference || "",
          publicly_visible: this.public,
          user_id: this.userId,
        });
        this.$.payments.create();
      }

      _paymentSuccess(event) {
        /**
         * @event sangha-payment-success Fired on succesful payment.
         */
        this.dispatchEvent(new CustomEvent('sangha-payment-success', {
          detail: event.detail,
          bubbles: this.bubbles,
          composed: true,
        }));
      }

      _paymentError(event) {
        /**
         * @event sangha-payment-error Fired on payment error.
         */
        this.dispatchEvent(new CustomEvent('sangha-payment-error', {
          detail: event.detail,
          bubbles: this.bubbles,
          composed: true,
        }));
      }
    }

    customElements.define(SanghaPaymentGateways.is, SanghaPaymentGateways);
  </script>
</dom-module>
