<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../paper-input/paper-input.html">

<link rel="import" href="sangha-cents-mixin.html">

<dom-module id="sangha-cents-input">
  <template>
    <style>
      paper-input {
        display: inline-block;
        min-width: 2em;
        max-width: 5em;
        margin-right: 0.3em;
        text-align: right;

        --paper-input-container: {
          padding: 0;
        };

        /* hide input number selector */
        --paper-input-container-input: {
          -moz-appearance: textfield;
          appearance: textfield;
        };
        --paper-input-container-input-webkit-spinner: {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        };
      }
    </style>

    <paper-input id="input" type="number" min="0" maxlength="5" step="0.01" on-value-changed="inputChanged" no-label-float auto-validate>
      <div slot="suffix">[[ currency ]]</div>
    </paper-input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin SanghaCentsMixin
     * @extends {Polymer.Element}
     */
    class SanghaCentsInput extends SanghaCentsMixin(Polymer.Element) {
      static get is() { return 'sangha-cents-input'; }

      static get properties() {
        return {
          // value in cents
          value: {
            type: Number,
            observer: "valueChanged",
            notify: true,
          },
          // local copy
          __value: {
            type: Number,
          },
          currency: {
            type: String,
          },
        };
      }

      // value changed from binding
      valueChanged(value) {
        if (value !== this.__value) {
          this.__value = value;
          this.$.input.value = this.centsToDisplay(value);
        }
      }

      // compute cent value and update binding
      // TODO live input masking
      inputChanged(event) {
        let value = event.detail.value;
        value = this.inputToCents(value);
        if (value !== this.__value) {
          this.__value = value;
          this.value = value;
        }
      }
    }

    customElements.define(SanghaCentsInput.is, SanghaCentsInput);
  </script>
</dom-module>
