<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-button-group/paper-button-group.html">
<link rel="import" href="../../paper-styles/color.html">

<link rel="import" href="sangha-cents-mixin.html">

<dom-module id="sangha-cents-buttons">
  <template>
    <style>
      paper-button-group {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
      paper-button-group paper-button {
        padding: 0.5em 0.8em;
        min-width: 2em;
        margin: 0.2em;
        background-color: var(--paper-grey-200);
      }
      paper-button-group paper-button[active] {
        background-color: var(--primary-color);
        color: var(--primary-background-color);
      }
    </style>

    <paper-button-group selected="{{ value }}" attr-for-selected="amount">
      <template is="dom-repeat" items="[[ buttons ]]" as="amount">
        <paper-button amount$="[[ amount ]]">[[ centsToDisplay(amount, "short") ]][[ currency ]]</paper-button>
      </template>
    </paper-button-group>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin SanghaCentsMixin
     * @extends {Polymer.Element}
     */
    class SanghaCentsButtons extends SanghaCentsMixin(Polymer.Element) {
      static get is() { return 'sangha-cents-buttons'; }

      static get properties() {
        return {
          // value in cents
          value: {
            type: Number,
            notify: true,
          },
          buttons: {
            type: Array,
          },
          currency: {
            type: String,
          },
        };
      }
    }

    customElements.define(SanghaCentsButtons.is, SanghaCentsButtons);
  </script>
</dom-module>
